// plugin:prettier/recommended already auto inserted prettier plugins

// eslint-config-prettier is smart enough to follow .prettierrc setting to do the linting
// if don't have .prettierrc file in project then have to manually set the linting rules as your liking.
// "rules": {
// "prettier/prettier": ["error", { "singleQuote": true }],
// }

{
  "extends": ["plugin:prettier/recommended", "prettier/react"],
  "plugins": ["react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    // eslint-plugin-react ---------------
    "react/prop-types": "off",
    "react/self-closing-comp": "error"
  }
}
